<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GlobalWeatherSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GlobalWeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SweaWebServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.com/globalweather.asmx"
                binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
                contract="ServiceReference1.GlobalWeatherSoap" name="GlobalWeatherSoap" />
            <endpoint address="http://www.webservicex.com/globalweather.asmx"
                binding="customBinding" bindingConfiguration="GlobalWeatherSoap12"
                contract="ServiceReference1.GlobalWeatherSoap" name="GlobalWeatherSoap12" />
            <endpoint address="https://swea.riksbank.se:443/sweaWS/services/SweaWebServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="SweaWebServiceSoap12Binding"
                contract="ServiceReference2.SweaWebServicePortType" name="SweaWebServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>